In [3]:
a=10
print (a)
my_python="zeeshan raja"
print (my_python)

10
zeeshan raja

In [6]:
my_height=6
my_weight=65
my_age=23

print(my_weight<=65 & my_age>23)   # this will print true if the weight is less the and equal to 65 and age grather than 23

False

In [7]:
rent=500
rent=600

print(rent+200)

800

In [8]:
print(2/3)

0.6666666666666666

In [9]:
a=1.5
print(type(a))

<class 'float'>

In [10]:
a=5
print(type(a))

<class 'int'>

In [11]:
a="zeeshan"
print(type(a))

<class 'str'>

In [12]:
a="zeeshan"
print(len(a))

7

In [13]:
a=float(3)
print(a)

3.0

In [14]:
a=2.9
print(int(a))

2

In [15]:
a="khan"
length=len(a)
print(length>3)

True

In [18]:
mon=103
tue=120
wed=130
thur=234
fri=453
satu=343
sun=344
weekly=mon+tue+wed+thur+fri+satu+sun
is_revenue_good= weekly>1000
print(is_revenue_good)

True

In [19]:
rent=1200
is_affordable=rent>1000 and rent<2000
print(is_affordable)

True

In [21]:
mottto= "learn | earn | code"
print(mottto)

learn | earn | code

In [22]:
type(mottto)

str

In [23]:
story="i did my graduation from, 'IQRA UNIVERSITY ISLAMABAD'"
print(story)

i did my graduation from, 'IQRA UNIVERSITY ISLAMABAD'

In [24]:
a="hello"
print(a*5)

hellohellohellohellohello

In [26]:
print(a*2)

hellohello

In [27]:
my_name="Zeeshan"
print(my_name.islower())

False

In [28]:
print(my_name.count('a'))

1

In [31]:
print(my_name.find('a'))

5

In [32]:
print("E:1")
print("i like {}  ballons".format(23))

E:1
i like 23  ballons

In [33]:
bike="honda"
speed=120
print("my bike name is {} and the speed is {} ".format(bike,speed) )

my bike name is honda and the speed is 120

In [34]:
star="i love {} and {} "
print(star.format("coding", "money"))

i love coding and money

In [35]:
students=['zeeshan', 'raja', 'khan']
print(students)

['zeeshan', 'raja', 'khan']

In [36]:
print(students[1])

raja

In [37]:
print(students[-1])

khan

In [38]:
students="bacha"
print(Students)

NameError: name 'Students' is not defined

In [39]:
print(students[1:3])

ac

In [41]:
ls=[1,2,3,4,5,6,7,8,9]
print(ls[1:3])

[2, 3]

In [42]:
print(ls[:3])

[1, 2, 3]

In [46]:
print(ls[-1:3])

[]